* {
    box-sizing: border-box;
}

body {
    color: $color-text-primary;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
        
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
        // overflow: visible;
    }
}

ul,h1,h2,h3,p {
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.section {
    padding: 60px 0;

    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

textarea {
    resize: none;
}