.main-title {
    color: $color-text-primary;
    font-size: 28px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.171;
    }
}

.hidden__mobile {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

/* Переваги (advantages) секція */

.advantages {
    padding-top: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
}

.advantages__container {
    width: 450px;
    justify-content: space-between;
    align-items: center;

        @media screen and (min-width: 768px) {
            width: 738px;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 60px;
        }
    
        @media screen and (min-width: 1200px) {
        width: 1200px;
        flex-wrap: nowrap;
        align-items: baseline;
        padding-bottom: 0;
        }
}

.advantages__item {

    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 15px)/2);
    }

    @media screen and (min-width: 1200px) {
        width: 100%
    }
    
}

.advantages__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.advantages__title {
    color: $color-text-primary;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
            text-align: center;
        }
}

.advantages__text {
    color: $color-text-secondary;
    font-size: 14px;
    line-height: 1.714;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

/* Проекти секція */

.product {

    @media screen and (max-width: 1199px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}

.product__item {
    position: relative;
    width: 370px;
    height: 294px;

    @media screen and (max-width: 1199px) {
            display: none;
        }
}

.product__bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding-top: 27px;

    @media screen and (max-width: 1199px) {
            display: none;
        }
}

.product__text {
    color: $color-brand-secondary;
    font-size: 14px;
    line-height: 1.172;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

/* Секція Команда */

.team {
    background-color: #F5F4FA;
    padding: 60px 0;
}

.team__container {
    align-items: center;
    justify-content: space-between;
    
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            gap: 30px;
        }
}

.team__card {
    border: 0 solid rgba(255, 255, 255, 1);
    background-color: $color-brand-secondary;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 15px)/2);

        &:last-child {
                margin-bottom: 30px;
            }
    }
}

.team__card--img{
    width: 450px;
    height: 460px;

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }

}

.team__card--container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__card--title {
    font-size: 16px;
    line-height: 1.171;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__card--text {
    color: $color-text-secondary;
    font-size: 16px;
    line-height: 1.171;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.team__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
}

.team__social--item {
    width: 44px;
    height: 44px;
}

.team__social--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $color-brand-secondary;
    border-radius: 50%;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: $color-brand-secondary;
            background-color: $color-brand-primary;
            outline-style: none;
        }
}

.team__social--icon {
    fill: currentColor;
}

/* Секція клієнтів */

.client-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.client-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            fill: $color-brand-primary;
            border: 1px solid $color-brand-primary;
            outline-style: none;
        }
}